<link rel="stylesheet" href="/stylesheets/style.css">
<div class="card">
    <h1>Perfil de <%= nome %></h1>
    <p><%= bio %></p>
    <button onclick="location.href='/'">Voltar</button>
</div>

<h1>Perfil do Usuário</h1>
<p>Nome: <%= nome %></p>
<p>Sobre: <%= bio %></p>
<a href="/">Voltar</a>