body {
  background-color: #121212;
  color: #1DB954; /* Verde Spotify */
  font-family: 'Arial', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #282828;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.2s;
}
li:hover {
  transform: scale(1.02);
  background: #333;
}