<link rel="stylesheet" href="/stylesheets/style.css">
<main style="max-width: 600px; margin: auto;">
    <h1>🎧 {{titulo}}</h1>
    <ul>
        {{#each lista}}
            <li><strong>Genre:</strong> {{this}}</li>
        {{/each}}
    </ul>
</main>